# ==============================================================================
# FRONTEND RULES (React / Vite)
# ==============================================================================
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Frontend Environments
frontend/*.local
frontend/.env
frontend/.env.*
!frontend/.env.example

# ==============================================================================
# BACKEND RULES (Express.js)
# ==============================================================================
backend/node_modules/
backend/.env
backend/.env.*
!backend/.env.example

# ==============================================================================
# PATHFINDING RULES (Flask / Python)
# ==============================================================================
pathfinding-service/.venv

# ==============================================================================
# GLOBAL / EDITOR RULES
# ==============================================================================
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
